<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/base.css" />
    <!-- 下面是引入jquery -->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body >
    <div id="kof"></div>

    <script type="module">
        import { KOF } from '/static/js/base.js'
        let kof = new KOF('kof')//建一个新的类

    </script>
</body>

</html>